<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :ages %>
    <%= form.text_field :ages %>
  </div>

  <div class="field">
    <%= form.label :players %>
    <%= form.text_field :players %>
  </div>

  <h3>Picture of the board</h3>
  <div class="field">
    <%= form.fields_for :gamepics do |f| %>
      <%= render 'gamepic_fields', f: f %>
    <% end %>
  </div>

  <h3>Pictures of the pieces</h3>
  <div class="field">
    <%= form.fields_for :partspics do |f| %>
      <%= render 'partspic_fields', f: f %>
    <% end %>
  </div>

  <div class="field">
    <%= link_to_add_association 'Add parts', form, :partspics %>
  </div>

  <h3>Rules</h3>
  <div class="field">
    <%= form.fields_for :rules do |f| %>
      <%= render 'rule_fields', f: f %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
