<div class="nested-fields">

  <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :rules_text %>
      <%= f.text_area :rules_text, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :pdf %>
      <%= f.file_field :pdf, class: "form-control"  %>
  </div>

</div>