<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @rule.url %>
</p>

<p>
  <strong>Rules text:</strong>
  <%= @rule.rules_text %>
</p>

<p>
  <strong>Game:</strong>
  <%= @rule.game %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
